* {
    padding: 0;
    margin: 0;
}
.blog-area-one {
    background-color: lightpink;
    padding: 20px;
    margin-bottom: 20px;
    border: 5px solid greenyellow;
}
.blog-area-one a {
    background-color: grey;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: .5s;
}
.blog-area-one a:hover {
    background-color: black;
    color: gray;
}